body > header {
  background: #394451;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid rgba(0, 0, 0 , .25);
  padding: 1.5rem 0;
  position: relative;
  width: calc(100% + 2rem + 2rem);
  z-index: 100;
}