body {
  background-color: blue;
}

header {
    position: fixed;
    top: 0;
}

header nav {
    text-transform: uppercase;
}

/*

at least 1 element with flex

AND 

@media (max-width: 400px) {
    
  }

*/