:root {
  --body-bg: #e9e7e0;
  --body-text: #222;
  --header-bg: #394451;
  --header-a-underline: #4f9d85;
}

html {
	color: var(--body-text);
	font-family: "Crimson Pro", Georgia, serif;
	hyphens: auto;
	line-height: 1.4;
	background: var(--body-bg);
	margin: 0;
	padding: 0;
	min-width: 800px;
}

body {
	margin: 0;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body > header {
  background: var(--header-bg);
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0 , .25);
  padding: 0 0;
  position: sticky;
  top: 0;
  width: calc(100% + 2rem + 2rem);
  z-index: 100;
}

#navbar {
	position: fixed;
	top: 0;
}

header img {
	-webkit-filter:invert(100%);
	filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

header nav {
	font-family: "League Spartan";
	text-transform: uppercase;
	align-self: center;
	text-align: right;
	font-size: 0;
}

header h1 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
}

header nav li {
	color: #fff;
	display: inline-block;
	padding-top: 5px;
}

header nav li + li:before {
	content: "|";
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
}

header nav li a {
  	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
}

header nav li a:link, header nav li a:visited {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    border-bottom: 5px solid rgba(0,0,0,0);
}

header nav li a:hover {
	border-bottom: 5px solid var(--header-a-underline);
	transition: none;
}

main {
	width: 100%;
	max-width: 60rem;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-variant-numeric: oldstyle-nums;
	align-items: center;
}

main > section > h2 {
    font-family: "Crimson Pro", Georgia, serif;
    font-style: italic;
    font-size: 2.2rem;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    max-width: 100%;
    border-top: 3px double #777;
    border-bottom: 3px double #777;
    padding: 2rem 4rem;
    hyphens: none;
    letter-spacing: 0;
}

main > section > a {
	color: #000;
	font-size: 1rem;
	letter-spacing: 1px;
}

h3 {
	line-height: 1.2;
	font-family: "League Spartan", Arial, sans-serif;
	text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    hyphens: none;
}

main > section {
	width: 40rem;
    max-width: 100%;
	scroll-margin-top: 6em;
}

main > section:nth-of-type(1) {
	margin-top: 2rem;
    margin-bottom: 1rem;
}

main > section > img {
	width: 40rem;
    max-width: 100%;
}

main > section > iframe {
	width: 40rem;
	height: 20rem;
}

.offers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer {
	display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: 10px 0px;
    border: 1px solid #000;
    border-radius: 3px;
}

.offer-button {
	padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.offer > h4 {
	margin:0;
	padding:0;
	background-color: var(--header-a-underline);
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #fffffff1;
  	text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
}

.offer > ol {
	list-style-type: none;
	margin:0;
	padding: 20px 0px 20px;
	border: 1px solid;
}

.offer > ol > li:not(:last-child) {
	margin-bottom: 5px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

#gh-img {
	width: 70px;
}

.welcome-section {
	height: 100vh;
}

@media (max-width: 800px) {}